@media screen and (max-width: 1020px) {
    .nav-section-padding {
        padding: 4rem;
    }

    .about-container .about-right {
        width: 550px;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-me {
        font-size: 1rem;
        margin-top: -20px;
    }

    .info-container {
        margin-top: -20px;
    }

    .info-container .column li {
        font-size: .75rem;
    }
}

@media screen and (max-width: 877px) {
    .about-me {
        font-size: .75rem;
    }

    .about-container{
        height: 250px;
    }
    .info-container .column li {
        font-size: .65rem;
    }

    .about-container .about-right {
        height: 250px;  
    }

    .button-container .my-projects {
        padding: 5px 10px;
    }

    .button-container .my-cv {
        padding: 5px 20px;
    }
}

@media screen and (max-width: 762px) {
    .about-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
        height: 450px;
    }

    .about-image-container img {
        height: 180px;
        width: 180px;
    }

    .about-container .about-right {
        height: 550px;
        margin: 0 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-right .button-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}


@media screen and (max-width: 768px) {

    .hero-area {
        height: 100vh;
    }

    .nav-section {
        position: relative;
        z-index: 2;
    }

    .nav-section-padding {
        padding: 3.5rem 2rem;
    }

    .list-menu {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: none;
    }

    .list-menu li {
        display: block;
        padding: 10px 20px;
        text-align: center;
    }

    .list-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    .hamburger-menu {
        position: absolute;
        right: 2rem;
        display: block;
    }

    .hamburger-menu span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
        transition: transform 0.3s ease;
    }

    .list-menu.active {
        display: block;
    }

    .hamburger-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .home-section .left-content{
        font-size: .8rem;
    }

    .welcome-message {
        font-size: 1.5rem;
    }

    .contact-container {
        padding: 0;
    }
    
}

@media screen and (max-width: 526px) {
    .info-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 2;
    }

    .about-container{
        height: 600px;
    }

    .about-container .about-right {
        height: 550px;
    }

    .about-right .about-title {
        font-size: 1.8rem;
    }

    .about-right .about-me {
        text-wrap: wrap;
        font-size: .7rem;
    }
}

@media screen and (max-width: 480px) {
    .info-container {
        width: 100%;
    }

    .about-container{
        height: 650px;
        margin: 0 50px;
    }

    .about-container .about-right {
        height: 400px;
    }

    .about-right .about-title {
        font-size: 1.8rem;
    }

    .about-right .about-me {
        text-wrap: wrap;
        font-size: .7rem;
    }

    .projects-container .title-holder {
        font-size: 1.5rem;
    }

    .contact-area .contact-title {
        font-size: 23px;
    }

    .contact-left .contact-form .submit-button {
        padding: 10px 15px;
    }
}

@media screen and(max-width: 250px) {
    .contact-area .contact-title {
        font-size: 1rem;
    }

    .contact-left .contact-form .submit-button {
        padding: 15px 25px;
    }
}