@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
/* SEDAN SC FONT */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --primary-color: rgb(34, 40, 49);
    --secondary-color: rgb(49, 54, 63);
    --third-color: rgb(118, 171, 174);
    --fourth-color: rgb(238, 238, 238);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    transition: background-color 200ms ease-in-out;
}

.nav-section {
    display: flex;
    z-index: 1;
    top: 0;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    width: 100%;
    transition: all 600ms ease-in-out;

}

.nav-section.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(18, 28, 32);
}

.nav-section-padding {
    padding: 3.5rem 8rem;
}

a {
    text-decoration: none;
    color: rgb(238, 238, 238);
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0px 0px 0px rgb(118, 171, 174);
}

.list-menu li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
    text-wrap: nowrap;
}

.list-menu li a:hover {
    color: var(--third-color);
    transition: all 500ms ease-in;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(238, 238, 238);

}

.welcome-message {
    font-size: 3rem;
    font-weight: 800;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
    justify-content: space-evenly;
    height: 270px;

}

.my-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid rgb(238, 238, 238);
    align-self: center;
    filter: drop-shadow(0px 0px 16px rgb(18, 28, 32));

}

.welcome-box {
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 300ms ease-in-out;

}

.social-media-icons ul li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgb(238, 238, 238);
    margin: 0 10px;
}

.social-media-icons ul li:hover {
    transition: all 300ms ease-out;
    background-color: rgb(118, 171, 174);
}

.gradient-title {
    color: var(--third-color);
}

.hireBtn {
    background-color: rgba(118, 171, 174, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.713);
    outline: none;
    color: var(--fourth-color);
    font-weight: 650;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 300ms ease-out;
}

.hireBtn:hover {
    box-shadow: 0px 0px 16px var(--third-color);
    transform: scale(1.1);
}

.about-area {
    background-color: var(--fourth-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px var(--secondary-color);
}

.about-section-padding {
    padding: 50px 0;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    width: 100%;
    margin: 0 25px;
}

.about-image-container img {
    max-width: 100%;
    border: none;
    outline: 2px solid var(--primary-color);
    box-shadow: 12px 12px 2px var(--secondary-color);
}

.about-container .about-right {
    width: 750px;
    margin-left: 50px;
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
}

.about-title {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 800;
}

.about-me {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 550;
}

.info-container {
    display: flex;
    width: 100%;
    font-size: .9rem;
    justify-content: space-between;
    line-height: 2;
}

.info-container .column li {
    list-style-type: none;
}

.info-container .column li .title {
    font-weight: 700;
}

.info-container .column li .title::after {
    content: " : ";
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.button-container .my-projects {
    border: 2px solid var(--third-color);
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--fourth-color);
    font-weight: 800;
    box-shadow: 5px 5px 1px var(--secondary-color);
    outline: none;
    border-radius: 5px;
    transition: all 500ms ease-in;
}

.button-container .my-cv {
    border: 2px solid var(--primary-color);
    padding: 10px 30px;
    background-color: var(--third-color);
    color: var(--fourth-color);
    font-weight: 800;
    box-shadow: 5px 5px 1px var(--secondary-color);
    outline: none;
    border-radius: 5px;
    transition: all 500ms ease-in;

}

.button-container .my-projects:hover {
    box-shadow: none;
    box-shadow: 0px 0px 8px var(--primary-color);
    transform: scale(1.1);
}

.button-container .my-cv:hover {
    box-shadow: none;
    box-shadow: 0px 0px 8px var(--secondary-color);
    transform: scale(1.1);
}

.projects-area {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 230ms ease-out;
}

.projects-section-padding {
    padding: 80px 0;
}

.projects-area .projects-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

.card-container img {
    max-width: 100%;
}

.projects-container .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 30px;
    height: auto;
}


.projects-container .title-holder {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;

}

.card-container .card {
    width: 250px;
    background-color: rgb(238, 238, 238);
    color: var(--secondary-color);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 2px var(--secondary-color);
    padding: 20px;
    transition: all 300ms ease-in;
}

.card-container .card:hover {
    transform: scale(1.1);
}

.card-container .card .title {
    align-self: center;
    font-size: 12px;
}

.card .description {
    width: 100%;
    font-size: 10px;
}

.contact-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.contact-area .contact-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 800;
    letter-spacing: 3px;
}

.contact-section-padding {
    padding: 80px 0;
}

.contact-area .contact-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    gap: 50px;
}

.contact-area .contact-container .contact-left {
    width: 100%;
}

.contact-container .contact-form .input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.contact-form .input {
    padding: 6px;
    width: 100%;
}

.contact-container .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.contact-container .contact-form .submit-button {
    border: none;
    outline: none;
    background-color: var(--third-color);
    padding: 20px 35px;
    width: 50%;
    align-self: center;
    color: var(--fourth-color);
    font-size: .8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}   

.contact-container .contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0 50px;
    align-self: flex-start;
}

.contact-right .contact-right-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-left .contact-form .input-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.contact-left .contact-form textarea.message-area {
    height: 250px;
    width: 100%;
    padding: 6px;
}

.contact-right .contact-right-text .bi {
    font-size: 1.5rem;
    color: var(--third-color);
}

.contact-right .contact-right-text .title{
    font-size: .8rem;
    letter-spacing: 3px;
}

.contact-right .contact-right-text .value {
    font-size: .6rem;
    letter-spacing: 3px;
}

.footer-section {
    background-color: var(--secondary-color);
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: var(--fourth-color);
    font-size: 12px;
    letter-spacing: 3px;
    word-wrap: break-word;
}

.footer-section .codename {
    color: var(--third-color);
}

